<nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
</nav>

<form #basicForm="ngForm" (ngSubmit)="login(basicForm.value)">
	<br>
	<br>
	<input type="text" ngModel name="email" placeholder="enter your email">
	<br>
	<br>
	<input type="text" ngModel name="otp" placeholder="enter otp">
	<br>
	<br>
    <input type="text" ngModel name="password" placeholder="enter password">
	<br>
	<br>
	<input type="text" ngModel name="password" placeholder="confirm password">
	<br>
	<br>
	<button type="submit">submit</button>
    
</form>
<br>
<br>

