p::first-line{
    color: white;
    font-size:xx-large;
    font-family:serif;
    padding: 5px;
  }

  .searchbar{
    background-color:rgb(57, 57, 57);
    padding-left: 150px;
  }

  .searchbartitlr{
    position: relative;
    bottom:50px;
  }
  
  #company {
    color:orange;
    text-align: left;
    margin-block-end: auto;
    margin-block-start: auto;
  }

  .form-inline.my-2.my-lg-0 input[type="search"] {
    height: 40px; /* Set the height to 40 pixels */
    width: 600px; /* Set the width to 200 pixels */
    margin-left: 200px;
  }

  #navbar{
    background-color:black;
  }
  
  #search{
    padding: 50px;
  }
  
  a {
    color:black;
    text-decoration:none;
  }
  
  nav{
    background-color:rgb(194, 193, 193);
    padding: 10px;
  }
  
  a:hover{
    color:orange;
    text-decoration:underline;
  }
  
  div{
    background-color:white;
    padding: 8px;
    font-weight:1;
    word-spacing: 18px;
    font-size: 12px;
  }
  
  /* img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:white;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  nav #contactno {
    padding-left: 150px;
  }
  nav #email {
    padding-left: 40px;
  }
  nav #freeshipping {
    padding-left: 50px;
    text-decoration: none;
  }
  nav #faq {
    padding-left: 50px;
  }
  nav #blog {
    padding-left: 40px;
  }
  nav #aboutus {
    padding-left: 20px;
  }
  nav #login {
    padding-left: 20px;
  }
