<!-- <button (click)="tinyAlert()">Simple Notification</button>
<button (click)="successNotification()">Sucess Notification</button>
<button (click)="alertConfirmation()">Show me Confirmation</button> -->

<nav>
    <ul>
      <li><button (click)="tinyAlert()">Simple Notification</button></li>
      <li><button (click)="successNotification()">Sucess Notification</button></li>
      <li><button (click)="alertConfirmation()">Show me Confirmation</button></li>
      <li><a href="/login">Login</a></li>
    </ul>
</nav>