<router-outlet></router-outlet>
<!-- 
<br>
<br>
<input type="text" placeholder="enter task" #task>
<br>
<br>
<button (click)="addTask(task.value)">submit</button>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">sr. no</th>
			<th scope="col">List</th>
      <th scope="col">Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let l of lists; index as i">
			<th scope="row">{{l.id}}</th>
			<td>
				{{l.task}}
			</td>
      <td><button (click)="removeTask(l.id)">remove</button></td>
		</tr>
	</tbody>
</table>
 -->

 <!-- <app-child [item]="data"></app-child>

 <button (click)="updateChild()">update child</button> -->

 <!-- <router-outlet></router-outlet> -->
<!-- <h1>asdf</h1>

<button (click)="getData()">get data</button>

<h1 *ngFor="let l of userData">
  <li>data:{{l.name}}</li>
</h1> -->

<!-- <input type="text" user="name" placeholder="enter name" #task>
<br>
<br>
<input type="text" user="age" placeholder="enter age" #task>
<br>
<br>
<input type="text" user="gender" placeholder="enter gender" #task>
<br>
<br>
<button (click)="createData(task.value)">submit</button> -->

<!-- <form #basicForm="ngForm" (ngSubmit)="createData(basicForm.value)">
	<br>
	<br>
	<input type="text" ngModel name="name" placeholder="enter your name">
	<br>
	<br>
	<input type="text" ngModel name="age" placeholder="enter age">
	<br>
	<br>
	<p>Please select your gender:</p>
	  <input type="radio" ngModel name="gender" value="male">
	  <label for="male">MALE</label><br>
	  <input type="radio" ngModel name="gender" value="female">
	  <label for="female">FEMALE</label>
	<br>
	<br>
	<button type="submit">submit</button>
</form> -->

<!-- <h1>All Data</h1>
<button (click)="getData()">get data</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">id</th>
			<th scope="col">name</th>
			<th scope="col">age</th>
			<th scope="col">gender</th>
			<th scope="col">remove</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of userData">
			<th scope="row">{{data.id}}</th>
			<td>
				{{data.name}}
			</td>
			<td>
				{{data.age}}
			</td>
			<td>
				{{data.gender}}
			</td>
			<td>
				<button (click)="deleteData(data.id)" (click)="getData()">remove</button>
			</td>
		</tr>
	</tbody>
</table> -->


<!-- <nav>
	<button routerLink="/register">register</button>
</nav> -->
<br>
<br>
<!-- <nav>
	<button routerLink="/login">login</button>
</nav> -->

<!-- <button (click)='http://localhost:4200/register'>register</button> -->

<!-- <button (click)="tinyAlert()">Simple Notification</button>
<button (click)="successNotification()">Sucess Notification</button>
<button (click)="alertConfirmation()">Show me Confirmation</button> -->