<!-- <h2 *ngIf="show=='yes';then ifBlock else elseBlock"></h2>

<ng-template #ifBlock>
  <h1>if condition</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>else condition</h1>
</ng-template>

<ng-template [ngIf]="color=='red'">
  <h1 style="color:red">red</h1>
</ng-template>

<ng-template [ngIf]="color=='green'">
  <h1 style="color:green">green</h1>
</ng-template>

<ng-template [ngIf]="color=='blue'">
  <h1 style="color:blue">blue</h1>
</ng-template>

<ng-template [ngIf]="color=='grey'">
  <h1 style="color:grey">grey</h1>
</ng-template> -->

<div [ngSwitch]="color">
  <h1 *ngSwichCase="'red'" style="color:red">red color</h1>
  <h1 *ngSwichCase="'green'" style="color:green">green color</h1>
  <h1 *ngSwichDefault>unknown color</h1>
</div>

<ul *ngFor="let user of users">
    <li>{{user}}</li>

</ul>

<h3 *ngFor="let user of userDetails">user:{{user.name}}</h3>

<h1><app-user-list></app-user-list></h1>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<style>
  .heading{
    color:gray
  }
</style>
<app-sign-in class="heading"></app-sign-in>

<!-- <button (click)="getName('qwerty')">click me</button>
<br>
<br>
<button (click)="getData('qwerty')">click me</button>
<br>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event key up">
<br>
<br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event key down">
<br>
<br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event key blur">
<br>
<br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input">
<br>
<br>
<h1 (mouseover)="getData('over')">mouse over</h1>
<br>
<h1 (mouseleave)="getData('leave')">mouse over</h1> -->

<!-- <input type="text" 
#box

placeholder="enter name"
name="name"
/> -->

<!-- <button (click)="getValue(box.value)">click</button> -->

<!-- <p>input data:{{displayVal}}</p>'' -->

<button (mouseover)="counter('add')">++</button>

<p>{{count}}</p>

<button (mouseleave)="counter('sub')">--</button>

