<nav>
  <a href="#"><b>1234567890</b></a
  >&nbsp;&nbsp;&nbsp; <a href="#">support@gmail.com</a>&nbsp;&nbsp;&nbsp;
  <a style="text-align: centre">Free shopping in orderders above 500</a
  >&nbsp;&nbsp;&nbsp; <a href="#">FAQs</a>&nbsp;&nbsp;&nbsp;
  <a href="#">Blog</a>&nbsp;&nbsp;&nbsp;
  <a href="#">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">Login or Create An Account</a>&nbsp;&nbsp;&nbsp;
</nav>

<main>
  <section>
    <p>
      QUARTZ <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; COMPONENTS
    </p>
  </section>
</main>

<div class="second">
  <a href="#">HOME</a>&nbsp; <a href="#">BLOG</a>&nbsp;
  <a href="#">PRODUCTS</a>&nbsp; <a href="#">TRACK ORDER</a>&nbsp;
  <a href="#">CONTACT</a>&nbsp; <a href="#">BULK ORDER</a>&nbsp;
  <a href="#">DISCOUNT SALE</a>&nbsp; <a href="#">CONTEST</a>&nbsp;
</div>

<section>
  <img
    src="\assets\product_images\pexels-pixabay-163073.jpg"
    height="400"
    width="1500"
  />
</section>

<!-- <div>
  <h6>Body only</h6>
  <ul *ngFor="let product of products; index as i">
    <ngb-toast [autohide]="false">
      <hr />
      <li>
        <p>
          <img src="\assets\product_images\Screenshot 2023-09-01 123526.png" />
          {{ product.description }}
          <b
            ><del>₹:{{ (product.price / 10) * 12 }}</del
            ><br />₹:{{ product.price }}</b
          >
        </p>
      </li>
      <hr />
    </ngb-toast>
  </ul>
</div> -->

<div class="grid-container">
    <ul *ngFor="let product of products; index as i">
      <ngb-toast [autohide]="false">
        <hr />
        <li>
          <p>
            <img src="\assets\product_images\Screenshot 2023-09-01 123526.png" />
            {{ product.description }}
            <b
              ><del>₹:{{ (product.price / 10) * 12 }}</del
              ><br />₹:{{ product.price }}</b
            >
          </p>
        </li>
        <hr />
      </ngb-toast>
    </ul>
</div>
<div></div>
